<!-- Exercício 1) Crie um projeto utilizando o cli do angular e que utiliza o padrão SCSS para estilização. -->

<!-- Exercício 2) No arquivo app.component.html coloque um texto do lorem ipsum: https://www.lipsum.com/ -->

<!-- Conteúdo -->

<div class="full-content container">

  <div class="container-title">
    <h1>Lorem Ipsum</h1>
    <hr>

    <span>1914 translation by H. Rackham</span>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore."
    </p>
  </div>

  <div class="container-p">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque massa ex, congue non libero at, euismod iaculis
      orci. Integer sapien ipsum, ultricies eu ornare ut, posuere id velit. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Duis mattis imperdiet eros a pulvinar. Nulla vestibulum lorem eros, eu aliquam turpis laoreet id.
      Duis tellus tortor, lobortis ac tortor nec, egestas rutrum ipsum. Sed rutrum non mi vitae molestie. Vivamus et
      elit fermentum, efficitur neque sit amet, consectetur tortor. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Etiam in aliquet neque. Vivamus consectetur, turpis facilisis sagittis lobortis, dolor neque venenatis
      nulla, ac commodo ligula nulla vel tellus. Duis nec ligula.
    </p>
  </div>

  <div class="container-p">
    <p>Maecenas eget fermentum elit. Fusce mauris dolor, aliquam quis arcu ac, rutrum iaculis eros. Morbi nec leo vitae
      tortor porttitor ullamcorper. Sed non tortor id diam sagittis iaculis at et turpis. Curabitur quis sapien ante.
      Donec ut venenatis mauris. Aenean ornare tincidunt eleifend. Vestibulum vel vulputate magna. Sed convallis orci ut
      magna placerat, sit amet lobortis sem semper. Nullam nisl turpis, finibus ut condimentum vel, vehicula quis massa.
      Phasellus at erat in nulla semper porttitor sed at lacus. uspendisse potenti. Vivamus convallis commodo porta.
      Nulla auctor pretium leo sit amet varius. Donec ultrices a nisl sed interdum. Quisque ut erat quis lorem luctus
      maximus. Mauris elementum, lectus nec feugiat ultricies, ipsum leo commodo ipsum, eget pellentesque augue ante a
      elit. Integer molestie a sem sit amet condimentum. Nam non congue lacus, sed interdum nibh. Donec imperdiet
      laoreet ex, sit amet sagittis nulla aliquam et. Etiam sit amet blandit tortor. Nunc rhoncus sed nisi in efficitur.
      Sed sodales consectetur magna. Sed non placerat orci. </p>
  </div>

</div>